/* heacd */
ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}



li img { 
  width: 250px;
  height: 250px;

}
/* body*/
nav {
    display: flex;
    
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    align-content: center;

}

header ul {
    list-style-type: none;
    margin: 0;
    width: 500px;
    
   }



